body {
  font-family: 'Poetsen One', sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(253, 246, 234);
}

.header {
  text-align: center;
  background-color: rgb(253, 246, 234);
  padding: 2px;
}

.mainBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.sectionTitle {
  color: rgb(54, 101, 139);
  text-align: center;
}

.readList {
  flex: 3 1 400px;
  text-align: center;
  background-color: lightsteelblue;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.bookSearch h3 {
  text-align: center;
}

.bookSearch {
  flex: 3 1 400px;
  background-color: lightsteelblue;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.animations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60px;
  text-align: center;
}

.createdAnimation {
  flex: 3 1 200px;
  color: steelblue;
  width: 200px;
}
.deleteAnimation {
  flex: 3 1 200px;
  color: steelblue;
  width: 200px;
}

img {
  width: 70px;
  margin: 10px;
}

.bookTitle {
  text-align: center;
}

fieldset {
  color: rgb(54, 101, 139);
  border-color: steelblue;
  border-width: 3px;
  padding: 10px;
  margin: 8px;
}

.manualBtn {
  text-align: center;
}

.blueBtn {
  background-color: rgb(218, 234, 255);
  font-family: 'Poetsen One', sans-serif;
  color: rgb(54, 101, 139);
  border-radius: 5px;
  border: 2px solid rgb(54, 101, 139);
  height: 30px;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

#wholeSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(253, 246, 234);
  border: 3px solid rgb(219, 214, 204);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
